.chat_collapsed__outer_wrapper {
  width: 48px;
  height: 48px;
  background: #f1f3f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  box-shadow: -1px 1px 10px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.chat_collapsed__inner_wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 4px rgba(102, 133, 179, 0.2), -3px -3px 4px #fff;
  border-radius: 4px;
}

.down_arrow_wrapper {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.chat_wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 340px;
  height: 100vh;
}

.chat_box {
  font-family: Poppins, sans-serif;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);

  & .chat_group {
    height: 600px;
    overflow-y: auto;

    & .right {
      flex-direction: row-reverse;
    }

    & .chatline_wrapper {
      display: flex;
      width: 100%;

      & .chatline {
        font-size: 12px;
        margin: 8px;
        color: #777;
        background: #f1f3f6;
        width: 70%;
        padding: 15px 10px 15px;
        border: 1px solid #999;
        border-radius: 4px;
        position: relative;

        & .username {
          color: #5790ff;
          font-size: 16px;
          border-radius: 4px;
          display: inline-block;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
        }

        & .time {
          font-size: 10px;
          position: absolute;
          bottom: 5px;
          right: 10px;
        }
      }
    }
  }

  .chat_input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: none;

    & form {

      & > .input_wrapper {
        display: flex;
        align-items: center;
        width: 300px;
        padding: 11px;
        background: #f1f3f6;
        border: 1px solid #999;
        box-sizing: border-box;
        border-radius: 4px;
      }

      & input {
        font-size: 12px;
        width: 100%;
        border: none;
        background: #f9fafb;
        box-shadow: 5px 5px 10px #fff, inset 5px 5px 10px rgba(24, 86, 180, 0.1);
        border-radius: 4px;
        height: 32px;
        padding: 0 12px;
        line-height: 18px;
        font-family: Poppins, sans-serif;
        margin-right: 12px;

        &::placeholder {
          color: #8f9091;
        }

        &:focus {
          outline: none;
        }
      }
    }

    & svg {
      width: 20px;
      margin-left: 5px;
    }

    &__submit {
      box-shadow: 3px 3px 4px rgba(102, 133, 179, 0.2), -3px -3px 4px #fff;
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      background: #f1f3f6;
      border: unset;
      cursor: pointer;
      border-radius: 4px;
      color: #5790ff;
      transition: all 0.2s ease-in-out;
      padding: 1px 12px;
    }
  }
}
