body {
  margin: 0;
}

.pin_ui {
  width: 900px;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  border: 1px dashed #c8c8c8;
  margin-bottom: 20px;

  &__title {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    background-image: linear-gradient(120deg, #edff20 0%, #edff20 100%);
    background-size: 95% 35px;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    background-repeat: no-repeat;
  }

  &__description {
    font-size: 48px;
    line-height: 72px;
    border-left: 16px solid #edff20;
    padding-left: 20px;
    margin-top: 40px;
  }
}
